@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700');

body {
  font-size: 12px;
  font-family: "Roboto", "Helvetica", sans-serif;
  background-color: rgba(189,217,191);
  /* color: #222; */
}

header {
  position: fixed;
  top: 5px;
  left: 10px;
}

nav ul {
  list-style-type: none;
  color: black;
  padding-left: 0;
}

nav li {
  display: block;
  margin-bottom: 10px;
  border: 2px solid black;
  width: 250px;
  font-size: 24px;
}

nav a {
  display: block;
  padding: 10px;
  color: black;
  background: rgba(189,217,191);
  transition: all 0.5s linear;
  text-decoration: none;
  text-align: right;
}

nav a:hover {
  color: rgba(189,217,191);
  background-color: black;
  transition: all 0.5s linear;
}

a {
  color: black;
}

h1 {
  font-size: 72px;
  font-family: "Lobster", cursive;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: right;
}

h1 span {
  display: block;
}

h2 {
  font-size: 60px;
  margin: 0;
}

main {
  margin-left: 300px;
  max-width: 660px;
}

section {
  margin-bottom: 50px;
}

#home {
  background-image: url("../image/background-alt.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#experience h3,
#experience h4,
#experience p {
  margin: 0;
}

#contact ul {
  list-style-type: none;
  font-size: 24px;
  padding-left: 6px;
}

#contact li {
  margin-bottom: 4px;
}

#contact main a:hover {
  color: rgba(71,37,113);
}

#contact main a:visited {
  color: maroon;
}

#contact main a:active {
  color: purple;
}

/*
#reel {
  display: grid;
  grid-column-gap: 50px;
}

#work {
  display: grid;
  grid-column-gap: 50px;
  background-color: rgba(189,217,191);
}

#contact {
  display: grid;
  grid-column-gap: 50px;
  background-color: rgba(189,217,191);
}

#experience {

} */
